<h1 class="section-heading"><%= current_user.first_name %>'s Soaks</h1>
<ul class="list-unstyled">
  <% @my_soaks.each do |soak| %>
    <li class="my-4">
      <%= render "my_soak", soak: soak %>
    </li>
  <% end %>
</ul>

<h1 class="section-heading">Soaks in <%= current_user.first_name %>'s Tubs</h1>

<ul class="list-unstyled">
  <% @my_booked_tubs.each do |soak| %>
    <li class="my-4">
      <%= render "rental_soak", soak: soak %>
    </li>
  <% end %>
</ul>
